*{
    margin:0;
    padding:0;
}
body{

    text-align: center;
    background-color: bisque;
}

h1{
    background-color: rgb(210, 246, 210);
    font-family: 'Nerko One';
}

a{
    text-decoration: none;
   

}

#s{
    background-image: url(../images/img12.jpg);
    height:50vh;
    background-size:cover;
    margin: 0;
    padding:0;
}

h2{
    color: rgb(242, 247, 245);
    position: relative;
    top:45%;
    font-size: 50px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.384);
}

h3{
    margin:20px 44%;
}
h3:after{
    content:'';
    border-bottom: 2px solid orangered;
    width:100%;
    display: block;

}


img{
    width:500px;
    height: 400px;
    float:left;
}


#div{
    display: flex;
    margin:20px;
}   


#div1{
    display:block;
}

h4{
    text-align: justify;
    margin:20px;
    font-size: 25px;
    font-family:cursive;
}